{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block content %}
<section id="content" class="body">

<h1 class="entry-title">Archives</h1>

<div class="archives">
    <div class="archives-right">
        <h1>Tags</h1>
        <div id="tag-list">
        <ul>
        {% for tag, articles in tags|sort_by_tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
        </ul>
        </div>
    </div>

    <div class="archives-left">
        <h1>Posts</h1>
        {% for year, articles in dates|groupby('date.year')|sort(reverse=True) %}
            <h3>{{ year }}</h3>
            <ul>
            {% for article in articles %}
                <li>
                <span class="month">{{ article.date|month_abbr }}</span>:
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>

<!--
<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
-->
</section>
{% endblock %}
