<footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
        </abbr>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
                updated: {{ article.locale_modified }}
        </abbr>
        {% endif %}
<!--
        {% if article.authors %}
        <address class="vcard author">
                By {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
-->
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
<!--
{% include 'twitter.html' %}
-->
</footer><!-- /.post-info -->
