<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    {% import 'meta.html' as meta with context %}
    {% block meta %}
    {{ meta.og_tags(SITENAME, SITESUBTITLE, SITEURL + '/') }}
    {% endblock meta %}

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}
    <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">
</head>

<body id="index" class="home">
    <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
        <nav><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link if '://' in link else SITEURL + link }}">{{ title }}</a></li>
        {% endfor %}
        </ul></nav>
    </header><!-- /#banner -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <section id="extras" class="body">
    {% if LINKS %}
        <div class="blogroll">
            <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
            <ul>
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
        </div><!-- /.blogroll -->
    {% endif %}

    {% if SOCIAL %}
        <div class="social">
            <h2>Social</h2>
            <ul>
            {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
        </div><!-- /.social -->
    {% endif %}

    {% if FEED_ALL_ATOM %}
        <div class="feeds">
            <h2>Feed</h2>
            <ul>
                <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">atom</a></li>
            </ul>
        </div>
    {% endif %}
    </section>
    <!-- /Footer -->

{% include 'analytics.html' %}
</body>
</html>
