<form class="newsletter"
       action="https://feedburner.google.com/fb/a/mailverify"
       method="post"
       target="popupwindow"
       onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=GiampaoloRodola', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <input type="text" name="email" />
        <input type="hidden" value="GiampaoloRodola" name="uri"/>
        <input type="hidden"  name="loc" value="en_US" />
    <br />
    <input type="submit" style="margin-top:10px" value="Subscribe" />
</form>
